* {box-sizing: border-box;}
body {
    background-image: url("img/hero-bg.png");
    font-family: Montserrat,system-ui,-apple-system, BlinkMacSystemFont,sans-serif;
}
  
.header{
    min-height: 80px;
}
.heading {
    text-align: center;
    margin-top: 90px;
}
.heading-h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 1.33;
    color: #11304e;
    margin: 70px 0 12px;
}
.heading-h2{
    font-size: 20px;
    font-weight: 500;
    opacity: 70%;
    color: #11304e;
}
.img-uploader{
    margin-top: 45px;
}
.uploader {
   
    background-color: #974fff;
    border-radius: 25px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    width: 65%;
    padding: 10px;
    height:300px
}
.inner-box{
    background-color: rgba(17, 48, 78, 0.18);
    border-radius: 25px;
    width: 100%;
    height: 280px;
}
.dropzone{
    text-align: center;
    color: white;
}
.drop-span{
    color: white;
}
.button{
    display: inline-block;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 13px 22px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    letter-spacing: 0.32px;
    cursor: pointer;
    border: unset;
    color:#974fff!important;
    /* margin-left: 137px; */
}
.textual-content{
    margin-top: 90px;
    
}
.textual-content-box{
    margin-top: 90px;
    background-color: rgba(17, 48, 78, 0.18);
    display: flex;
    flex-direction:row;
    
}
.supported{
    margin-top: 90px;
}
  
  .row {
    /* flex: 1 1 0px; */
    /* position: relative; */
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  i{
    display: block;
    margin-bottom: 18px;

  }
  span{
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.21;
    margin-bottom: 15px;
    color: rgb(17, 48, 78);
  }
  p{
    font-size: 15px;
    line-height: 1.41;
    color: rgb(17, 48, 78);
  }
  .how-to{
    margin-right: -15px;
    margin-left: -15px
  }
  .how-to-text{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    width: 74%;
    padding: 10px;
      
  }
  .how-to-h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.16;
    text-align: left;
    color: rgb(17, 48, 78);
    /* margin: 0px 0px 40px; */
    width: 100%;
    margin-top: 70px;
  }
  .steps{
    padding-left: 29px;
  }
  ul li span {
    display: inline-block;
    width: 20px;
    margin-right: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  ul li {
    margin: 0px 0px 20px;
    padding: 0px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.4;
    text-align: left;
    color: rgb(17, 48, 78);
    list-style: none;
    position: relative;
  }
  img{
    outline: none;
    border: none;
    max-width: 100%;
    height: auto;
  }
  .rating-div{
    background-color: red
  }
  .rating-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .rating-row{
    margin-right: -15px;
    margin-left: -15px;
}
.faq-container{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.faq-h2{
    font-size: 53px;
    font-weight: 800;
    line-height: 1.16;
    text-align: center;
    color: #11304e;
    margin: 100px 0 50px;
}
.faq-h3{
    margin: 0 0 25px;
    font-size: 20px;
    font-weight: 600;
    color: #11304e;
    position: relative;
    padding-right: 30px;
    line-height: 1.4;
    cursor: pointer;
}
.faq-list{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        margin: auto;
        width: 50%;
        padding: 10px;
          
      
}
.sup-h2{
    font-size: 56px;
    font-weight: 800;
    line-height: 1.21;
    color: rgb(17, 48, 78);
    text-align: center;
}
.sup-ul{
    margin: 0px;
    padding: 63px 0px 0px;
    text-align: left;
}
.sup-li{
    list-style: none;
    margin: 0px 0px 20px;
    font-size: 15px;
    color: rgb(17, 48, 78);
    width: 25%;
    text-align: left;
    display: inline-block;
}
a{
    text-decoration: unset;
    color: unset;
}
.sup-i{
    display: inline-block;
    margin-right: 10px;
    width: 19px;
    vertical-align: middle;
}
.sup-span{
    display: inline-block;
    width: 20px;
    margin-right: 20px;
    position: unset!important;
    top: 0px;
    left: 0px;
}
.clear {
    clear: both;
}
.leftbox { 
    float:left;  
    width:30%; 
    height:280px; 
    margin: 0px 28px; 
    text-align: center;
    margin-bottom: 30px;
} 
.middlebox{ 
    float:left;  
    width:30%; 
    height:280px; 
    text-align: center;
    margin-bottom: 30px;
    
} 
.rightbox{ 
    text-align: center;
    float:right; 
    width:30%; 
    height:280px; 
    margin-bottom: 30px;
} 
.textual-lists{
    /* position: relative; */
    /* min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; */
    margin: auto;
    width: 50%;
    /* padding: 10px; */
      
  
}
.rows{
    padding: 10px;
    margin: auto;
    width:50%; 
    margin-top: 70px;
    display: inline;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.rows-2{
    margin-top: 50px;
}
 
.header {
    overflow: hidden;
    /* background-color: #f1f1f1; */
    padding: 20px 10px;
  }
  
  .header a {
    /* float: left;
    color: black;
    text-align: center;
   
    line-height: 25px;
    border-radius: 4px; */

    padding: 0 20px 0 8px;
    text-decoration: none;
    color: #1e283c;
    font-weight: 600;
    font-size: 12px; 
    text-transform: uppercase;
    outline: 0;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    margin: 0px 101px;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color:#eee;
    color: black;
  }
  
  .header-right {
    float: right;
    padding-right: 124px;
  }
  
  /* @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  } */

.how-to-p{
    margin-top: 35px;
}
.footer{
    background-image: -webkit-linear-gradient(110deg,#7b10ff 0,#974fff 100%);
    color:white;
    padding: 100px 0px;
    display: block;

}

.footer .single-footer-widget p {
    color: #fff;
}
.footer .single-footer-widget .menu-list li a {
    color: #fff;
    transition: all .3s ease 0s;
}
.footer .footer-bottom p {
    color: #fff;
    
}
