.catPad {
    padding: 0px 80px !important;
}
@media only screen and (max-width: 768px){
    .catPad {
        padding: 0px !important;
    }
} 
.dropdown-menu {
    overflow-y: scroll !important;
    height: 70vh !important;
  }
