* {
  box-sizing: border-box;
}

.textual-content {
  margin-top: 90px;
}
.textual-content-box {
  margin-top: 90px;
  background-color: rgba(17, 48, 78, 0.18);
  display: flex;
  flex-direction: row;
}
.supported {
  margin-top: 90px;
}
ul li span{
  position: relative !important;
}
ul li span {
  position: relative !important;
} 
.row {
  /* flex: 1 1 0px; */
  /* position: relative; */
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  height: auto;
  /* text-align: center; */
  margin-bottom: 30px;
}
i {
  display: block;
  margin-bottom: 18px;
}
.newSpan {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.21;
  /* margin-bottom: 15px; */
  color: rgb(17, 48, 78);
}
/* p {
    font-size: 15px;
    line-height: 1.41;
    color: rgb(17, 48, 78);
  } */
.how-to {
  margin-right: -15px;
  margin-left: -15px;
}
.how-to-text {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  width: 74%;
  padding: 10px;
}
.how-to-h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.16;
  text-align: left;
  color: rgb(17, 48, 78);
  /* margin: 0px 0px 40px; */
  width: 100%;
  margin-top: 70px;
}
.steps {
  padding-left: 29px;
}
img {
  outline: none;
  border: none;
  max-width: 100%;
  height: auto;
}
.rating-div {
  background-color: red;
}
.rating-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.rating-row {
  margin-right: -15px;
  margin-left: -15px;
}

a {
  text-decoration: unset;
  color: unset;
}
.sup-i {
  display: inline-block;
  margin-right: 10px;
  width: 19px;
  vertical-align: middle;
}
.sup-span {
  display: inline-block;
  width: 20px;
  margin-right: 20px;
  position: unset !important;
  top: 0px;
  left: 0px;
}
.clear {
  clear: both;
}
.leftbox {
  float: left;
  width: 30%;
  height: 280px;
  margin: 0px 28px;
  text-align: center;
  margin-bottom: 30px;
}
.middlebox {
  float: left;
  width: 30%;
  height: 280px;
  text-align: center;
  margin-bottom: 30px;
}
.rightbox {
  text-align: center;
  float: right;
  width: 30%;
  height: 280px;
  margin-bottom: 30px;
}
.textual-lists {
  /* position: relative; */
  /* min-height: 1px;
      padding-right: 15px;
      padding-left: 15px; */
  margin: auto;
  width: 50%;
  /* padding: 10px; */
}
.rows {
  padding: 10px;
  margin: auto;
  width: 50%;
  margin-top: 70px;
  display: inline;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.rows-2 {
  margin-top: 50px;
}

.header {
  overflow: hidden;
  /* background-color: #f1f1f1; */
  padding: 20px 10px;
}

.header a {
  padding: 0 20px 0 8px;
  text-decoration: none;
  color: #1e283c;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  outline: 0;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  margin: 0px 101px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #eee;
  color: black;
}

.header-right {
  float: right;
  padding-right: 124px;
}
.main-heading > h1 {
  border: 0;
  border-bottom: 7px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
/* UX/Ui Design for WORD-COUNTER */
.word-count-main {
  width: 100%;
}
.word-count-main .word-count {
  margin: 20px auto;
  background: #fdfdfd;
  box-shadow: 0 7px 18px rgb(53 67 97 / 15%);
  padding: 15px;
  border-radius: 5px;
}
.count-top-bar {
  margin: 0;
  padding: 25px 0;
  list-style: none;
  display: flex;
}
.count-top-bar li {
  padding: 0 80px;
}
.count-top-bar .borderStyle:nth-child(1),
.borderStyle:nth-child(2),
.borderStyle:nth-child(3) {
  border-right: 1px solid #d9d9d9;
}
.count-top-bar li p {
  text-transform: uppercase;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 400;
  color: #222;
  font-size: 18px;
}
.count-top-bar li span {
  color: #9b5cf5;
  font-size: 25px;
  font-weight: 700;
}
.counter-input {
  width: 100%;
  height: 410px;
  background: 0 0;
  border: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: none;
  padding: 5px 5px;
  outline: none;
  border-radius: 5px;
}
#rating-img {
  height: 1px;
  width: 1px;
  filter: brightness();
  filter: brightness(100);
}
.rating-tool {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}
.rating-text {
  font-size: 17px;
  font-weight: 700;
  color: rgb(33, 33, 33);
  padding: 6px;
}
.rating-stars {
  color: #9d9d9d !important;
  padding-top: 17px;
  display: flex;
  align-items: center;
}
.rating-stars i {
  padding: 5px;
  font-size: 17px;
}
.rating-value {
  line-height: 24px;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: rgb(33, 33, 33);
  padding: 6px;
}

@media (max-width: 767.98px) {
  .count-top-bar {
    flex-wrap: wrap;
  }
  .count-top-bar .borderStyle:nth-child(1),
  .borderStyle:nth-child(2),
  .borderStyle:nth-child(3) {
    border-right: none;
  }
  ul li span {
    top: -13px !important;
  } 

  .count-top-bar li {
    flex-basis: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 1125px) {
  .count-top-bar li p {
    font-size: 12px;
  }
}

/* close */

.how-to-p {
  margin-top: 35px;
}
.footer {
  background-image: -webkit-linear-gradient(110deg, #7b10ff 0, #974fff 100%);
  color: white;
  padding: 100px 0px;
  display: block;
}

.footer .single-footer-widget p {
  color: #fff;
}
.footer .single-footer-widget .menu-list li a {
  color: #fff;
  transition: all 0.3s ease 0s;
}
.footer .footer-bottom p {
  color: #fff;
}