<div class="wrapfooter">
    <span class="author_image">
        <img class="author-thumb" src="{{ author.image }}" alt="Sal" id="author_img">
    </span>
    <span class="author-meta">
        <span class="post-name">
            <a class="postName" target="_blank" href="https://wordswithletters.org/">{{author.name}}</a>
            <a class="btn_follow text-decoration-none" target="_blank" href="{{author.twitter}}">Follow</a>
        </span><br>
        <span class="author_bio">{{author.bio}}</span>
    </span>
</div>