{%- if page.hero -%}
    {%- assign hero = page.hero -%}
{%- else -%}
    {%- assign hero = site.hero -%}
{%- endif -%}

{% if hero == "sass" %}

{% assign headerClass = "header" %}
{% elsif hero == "blog_details" %}

{% assign headerClass = "header7" %}

{% endif %}
<!-- start Header Area -->
<header id="{{ headerClass }}" >
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div id="logo">
                <a href="{{ '/' | relative_url }}">
                    <img class="logo-1" src="{{ 'img/logo.png' | relative_url }}" alt="" title="" />
                </a>
            </div>
        {% include nav-menu.html %}
        </div>
    </div>
</header>
<!-- End Header Area -->