<script src="https://accounts.google.com/gsi/client" async defer></script>
<script>
//get input
async function getInputValue() {
    let languageList = ["sq", "am", "ar", "zh", "da", "gu", "hy", "id", "it", "ja", "ko", "la", "ms", "ne", "pa", "sq", "ta", "te", "zh", "ur",]
    let inputString = document.getElementById("input-string").value;

    for (let i = languageList.length - 1; i > 0; i--) {
        const randomNum = Math.floor(Math.random() * i)
        const temp = languageList[i]
        languageList[i] = languageList[randomNum]
        languageList[randomNum] = temp
    }

    languageList[0] = `{{initialLanguage}}`
    languageList[5] = `{{initialLanguage}}`
    languageList[10] = `{{initialLanguage}}`
    languageList[15] = `{{initialLanguage}}`
    paraphraseControler(inputString, languageList)
}

//control paraphrase
async function paraphraseControler(string, lang) {
    let paraphrase = string

    //for 3 output - start position, end position and option number
    showParaphrase(0, 5, 1)
    showParaphrase(5, 10, 2)
    // showParaphrase(10, 15, 3)

    async function showParaphrase(start, end, option) {
        for (let i = start; i < end; i++) {
            const api_url = `https://translate.googleapis.com/translate_a/single?client=gtx&sl=${lang[i]}&tl=${lang[i + 1]}&dt=t&q=${paraphrase}`;
            const response = await fetch(api_url);
            let data = await response.json();
            let strOutput = [];
            if (data) {
                data && data[0].map((item) => {
                    item[0].length > 0 && strOutput.push(item[0]);
                })
            }
            strOutput = strOutput.toString();
            paraphrase = strOutput.replace(/['",]+/g, '')
            if (i == end - 1) {
                let inputWords = document.getElementById("input-string").value.toLowerCase().replace(/ \s*/g, " ").split(" ")
                document.getElementById(`total-input-words-${option}`).innerText = inputWords.length;
                let differentWordCount = 0;
                paraphrase.split(" ").forEach(word => {
                    if (inputWords.indexOf(word.toLowerCase()) < 0) {
                        differentWordCount++
                    }
                })
                document.getElementById(`total-different-${option}`).innerText = differentWordCount;
                document.getElementById(`paraphrase-output-${option}`).innerText = paraphrase;
                document.getElementById(`tooltip-${option}`).title = `${differentWordCount} out of ${inputWords.length} words are different from input words`;

            }
        }
    }
}

// clipboard
function clipboardHandler(id) {
    let copyTextarea = document.getElementById(id);
    copyTextarea.focus();
    copyTextarea.select();
    try {
        document.execCommand('copy');
    } catch (err) {
        console.log('Oops, unable to copy');
    }
};

</script>

<div class="container">
<div class="main">
    <h1 class="col-md-12 text">{{keyName}}</h1>

    <div class="hr">
        <hr class="hr-css" />
    </div>
    <div class="col-md-12 typing-main-div">
        <div class="row">

        </div>
        <div class="row col-md-12 d-flex justify-content-center">
            <div class="col-md-6 mb-3">
                <textarea class="mt-3 input-string" id="input-string" value=""></textarea>
                <div class=" d-flex justify-content-left">
                    <button class="ml-2" style="font-size:14px; 
                        font-weight:normal; height:30px ; outline:none;
                        border:none;" onclick="getInputValue();">
                        Rewrite
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div style="margin-bottom: 25px">
                    <p class="float-left m-0 ml-3 mb-1 p-0 pb-1 px-3 copy-btn"
                        onclick="clipboardHandler('paraphrase-output-1')">copy</p>
                    <p style="font-size:14px" class="float-left m-0 p-0 pl-3 ">Option 1</p>
                    <p class="float-right m-0 p-0 pr-3" id="tooltip-1" data-toggle="tooltip" data-placement="top"
                        title="x out of y words are different from input">
                        <small id="total-different-1">0</small> / <small id="total-input-words-1">0</small>
                    </p>

                </div>
                <textarea id="paraphrase-output-1" class="paraphrase-output"></textarea>

                <div>
                    <div style="margin-bottom: 25px">
                        <p class="float-left m-0 ml-3 mb-1 p-0 pb-1 px-3 copy-btn"
                            onclick="clipboardHandler('paraphrase-output-2')">copy</p>
                        <p style="font-size:14px" class="float-left m-0 p-0 pl-3 ">Option 2</p>
                        <p class="float-right m-0 p-0 pr-3" id="tooltip-2" data-toggle="tooltip"
                            data-placement="top" title="x out of y words are different from input">
                            <small id="total-different-2">0</small> / <small id="total-input-words-2">0</small>

                        </p>
                    </div>
                    <textarea id="paraphrase-output-2" class="paraphrase-output"></textarea>
                </div>

                <!-- <div>
                        <div style="margin-bottom: 25px">
                            <p class="float-left m-0 ml-3 mb-1 p-0 pb-1 px-3 copy-btn"
                                onclick="clipboardHandler('paraphrase-output-3')">copy</p>
                            <p style="font-size:14px" class="float-left m-0 p-0 pl-3 ">Option 3</p>
                            <p class="float-right m-0 p-0 pr-3" id="tooltip-3" data-toggle="tooltip"
                                data-placement="top" title="x out of y words are different from input">
                                <small id="total-different-3">0</small> / <small id="total-input-words-3">0</small>

                            </p>
                        </div>
                        <textarea id="paraphrase-output-3" class="paraphrase-output"></textarea>
                    </div> -->
            </div>
        </div>
    </div>
</div>
</div>
