<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<div id="content-wrapper">
    <div class="inner clearfix">
        <div class="container">
            <div class="row">
                <br>
                <input type="text" id="title" placeholder="Title" class="form-control" />
            </div>
            <div class="row">
                <div class="col-md-6" style="text-align: start;">
                    <textarea id="input" name="input" cols="40" rows="5" placeholder="Paste full text here"
                        class="form-control"></textarea>
                    <br>
                    <button style="font-size:14px;
                            font-weight:normal; height:30px ; outline:none;
                            border:none;" id="split">
                        Summarize
                    </button>
                </div>
                <div class="col-md-6">
                    <div class="result-list" id="result-text">
                        <button class="copy_text tooltip" type="button" onclick="CopyContent()"><span
                                class="tooltiptext">copy</span><i class="fas fa-copy"></i></button>
                        <div id="result">
                            <h3 class="title"></h3>
                            <ul class="teasers"></ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="/js/lib/lodash/lodash.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/lib/tokenizer/tokenizer.js" type="text/javascript"></script>
<script src="/js/js-summarize.js" type="text/javascript"></script>

<script type="text/javascript">

    $(window).ready(
        function () {
            $('#split').on('click', function () {
                $(".teasers").html("");
                var summarizer = new JsSummarize(
                    {
                        returnCount: 3
                    });
                var summary = summarizer.summarize($('#title').val(), $('#input').val());
                summary.forEach(function (sentence) {
                    $(".teasers").append("<li>" + sentence + "</li>");
                });
                $(".title").text($("#title").val());
            });

        });
    // clipboard
    let copy_btn = document.querySelector('.tooltiptext')
    function CopyContent() {
        var Copy_value = document.getElementById("result");
        navigator.clipboard.writeText(Copy_value.textContent);
        copy_btn.innerHTML = "copied!";
    };
    setInterval(() => {
        copy_btn.innerHTML = "copy";
    }, 1000);
</script>