
{% assign keyName = page.translatein %}
{% assign langName = page.langName %}
{% assign language = page.language %}


<style>
    .translation-copy-btn {
    top: 5px;
    right: -26px;
    }
    .string-div p {
    color: white;
     }
</style>
<div class="container">
    <div class="main">
        <div class="hr">
            <hr class="hr-css" />
        </div>
        <div class="row">
            <div class="col-md-12 justify-content-center">
                <div class="setting_div">
                   
                    <div class="setting_button">
                        <div id="clear_button" onmouseover="active_buttonkk('clear_text')"
                            onmouseout="diavtivate_button('clear_text')" class="settings__image"><i
                            class="fas fa-trash-alt" aria-hidden="true"></i></div>
                        <ul class="settings__options" id="clear_text" style="display: none;">
                            <li class="settings__option">
                                <p class="settings__description" id="active_text">Clear Text</p>
                            </li>
                        </ul>
                    </div>
                    <div class="setting_button">
                        <div id="fontsize_button" onmouseover="display_flex('font_size')"
                            onmouseout="display_none('font_size')" class="settings__image"><b style="color: rgb(103,102,117,0.8);">T</b></div>
                        <ul class="settings__options" id="font_size"
                            style="display: none; flex-direction: row; justify-content: space-around;">
                            <li class="settings__option text" ><button type="button"
                                    onclick="font_size_fun('small')" style="font-size: small;">T</button></li>
                            <li class="settings__option text" ><button type="button"
                                    onclick="font_size_fun('medium')" style="font-size: medium;">T</button></li>
                            <li class="settings__option text" ><button type="button"
                                    onclick="font_size_fun('large')" style="font-size: large;">T</button></li>
                        </ul>
                    </div>
                    <div class="setting_button">
                        <div id="fontfamily_button" onmouseover="display_flex('font_familty')"
                            onmouseout="display_none('font_familty')" class="settings__image"><b style="color: rgb(103,102,117,0.8);">Aa</b></div>
                        <ul class="settings__options" id="font_familty"
                            style="display: none; flex-direction: row; justify-content: space-around;">
                            <li class="settings__option text" style="font-family: roboto mono,monospace;"><button
                                    type="button" onclick="font_family_fun('roboto mono,monospace')">As</button>
                            </li>
                            <li class="settings__option text" style="font-family: mr-eaves-modern,sans-serif;">
                                <button type="button"
                                    onclick="font_family_fun('mr-eaves-modern,sans-serif')">As</button>
                            </li>
                            <li class="settings__option text" style="font-family: serif;"><button type="button"
                                    onclick="font_family_fun('serif')">As</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <button onclick="inputHandle('transliterateButton')" class="ml-2"
                style="font-size:14px; font-weight:normal; height:30px">
                transliterate
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/codemirror.css' rel='stylesheet'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/codemirror.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/mode/javascript/javascript.js'></script>
<script src="/js/translator.js" data-language="{{page.language}}" ></script>

